@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #1677ff;
  --secondary: #f4f4f4;
}
button,
input,
select,
textarea,
a {
  border: none;
  outline: none;
  cursor: pointer;
  padding-inline: 6px;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100vw;
  max-width: 1920px;
  height: 100svh;
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.auth_page {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-image: url(./login_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.auth_form {
  width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.auth_form > p {
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.auth_form > input {
  height: 80px;
  padding-inline: 24px;
  font-size: 24px;
}
.auth_form > button {
  height: 80px;
  padding-inline: 24px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
}
.error {
  color: red;
}

.manager_layout {
  width: 100%;
  min-height: 100%;
  display: flex;
  background-color: #f4f4f4;
}
.manager_layout > aside {
  min-height: 100%;
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  color: #fff;
  background-color: var(--primary);
}
.manager_layout > aside > p {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}
.manager_layout > aside > .links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.manager_layout > aside > .links > a {
  width: 100%;
  height: 40px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
}
.manager_layout > aside > .links > .active {
  padding-inline-start: 12px;
  border-left: 2px solid #fff;
}
.manager_layout > main {
  /* flex-grow: 1; */
  width: calc(100% - 230px);
  height: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}
.manager_layout > main > header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: var(--primary);
  justify-content: space-between;
  border-left: 1px solid #fff;
  color: #fff;
}
.manager_layout > main > header > button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  gap: 6px;
  border: 1px solid #ccc;
}

.manager_page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  height: 100%;
}
.manager_page_header {
  width: 100%;
  height: 40px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manager_page_header_actions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.manager_page_header > p {
  font-size: 18px;
  font-weight: 500;
}
.manager_page_header_actions > button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--primary);
  color: #fff;
}
.table_actions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.table_actions > button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  &:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
}
.user_projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
}
.project_card {
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px;
}
.project_title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.project_title > b {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 2px;
}
.project_title > b > span {
  display: flex;
  align-items: center;
  padding-inline: 4px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal_form > input {
  width: 100%;
  height: 40px;
  padding: 6px;
  border: 1px solid #ccc;
}
.modal_form > label > input {
  width: 100%;
  height: 40px;
  padding: 6px;
  border: 1px solid #ccc;
}
.modal_form > label > select {
  width: 100%;
  height: 40px;
  padding: 6px;
  border: 1px solid #ccc;
}
.modal_form > button {
  width: 100%;
  height: 40px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.manager_page_header_actions > select,
.manager_page_header_actions > input {
  padding: 10px;
  width: auto;
}
.manager_page_header_actions > input[type="search"] {
  width: 450px;
}

.phone_input > span {
  height: 35px;
  width: 50px;
  display: flex;
  align-items: center;
}
.addproject_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  gap: 12px;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
}
.forms {
  width: 100%;
  display: flex;
}
.form_part {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form_part > p {
  font-size: 20px;
  font-weight: bold;
}
.form_part > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form_part > label > p {
  display: flex;
  gap: 2px;
}
.form_part > label > input {
  border: 1px solid #ccc;
  height: 35px;
  width: 250px;
}
.service > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.service > label > p {
  display: flex;
  gap: 2px;
}
.service {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #ccc;
  padding-block-end: 6px;
}
.service > label > input {
  border: 1px solid #ccc;
  height: 35px;
  width: 250px;
}
.service > label > select {
  height: 35px;
  width: 250px;
  border: 1px solid #ccc;
}
.service > button {
  width: 125px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
}
.spending > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.spending > label > p {
  display: flex;
  gap: 2px;
}
.spending {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block-end: 6px;
}
.spending > label > input {
  border: 1px solid #ccc;
  height: 35px;
  width: 250px;
}
.spending > label > select {
  height: 35px;
  width: 250px;
  border: 1px solid #ccc;
}
.form_part > label > select {
  height: 35px;
  width: 250px;
  border: 1px solid #ccc;
}
.spending > button {
  width: 125px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
}
.form_part > button {
  width: 250px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
}
.addproject_form > button {
  width: 250px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
}
.manager_page > button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border: 1px solid #ccc;
}
.spending_page {
  width: 100%;
  display: flex;
  height: calc(100svh - 60px);
  background-color: #fff;
}
.spendings_table {
  width: 70%;
  height: 100%;
}

.spendings_form {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 6px;
  gap: 6px;
}
.spendings_form > label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.spendings_form > label > input {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
}
.spendings_form > button {
  width: 100%;
  height: 35px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* .user_layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.user_layout > main {
  width: 100%;
  height: calc(100% - 60px);
}
.user_menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
}
.user_menu > a {
  width: 100%;
  height: 100px;
  background-color: #eee;
  display: flex;
  padding-inline-start: 5%;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  gap: 12px;
  max-width: 37%;
  &:active {
    background-color: #eee;
  }
}
.user_layout > header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  border-bottom: 1px solid #ccc;
}
.user_layout > header > p {
  font-size: 25px;
  font-weight: bolder;
}
.user_layout > header > button {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

.user_page {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary);
  color: #fff;
}
.user_page_header {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.user_page_header > p {
  font-size: 25px;
  font-weight: bold;
}
.user_projects {
  width: 100%;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  gap: 10px;
  color: #000;
}
.user_project {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
}
.user_project .project_services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service_card {
  width: 100%;
  min-height: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 30px;
  border: 1px solid #ccc;
}

.user_project_title {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #ccc;
}
.title {
  display: flex;
  gap: 10px;
}
.user_project_title > .title > b {
  width: 200px;
}
.user_project_title > .title > p {
  display: flex;
  width: 200px;
}
.service_actions {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.service_actions > button {
  height: 100%;
  background-color: var(--primary);
  width: 400px;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.confirm {
  width: 50%;
  position: fixed;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  right: 25%;
  bottom: 25%;
  color: #000;
}
.confirm_title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: bold;
}
.confirm_body {
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1;
}
.confirm_footer {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}
.confirm_footer > button {
  height: 120px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
} */
.user_layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.user_layout > .navigate {
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 6px;
  height: 60px;
  justify-content: space-between;
  border-top: 1px solid #a7a5ad;
}
.user_layout > .navigate > a {
  height: 100%;
  padding: 6px;
  color: #a7a5ad;
}
.user_layout > main {
  width: 100%;
  height: calc(100% - 60px);
  padding-inline: 6px;
  padding-block: 6px;
}
.user_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.user_page_header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a7a5ad;
}
.user_page_header > p {
  font-size: 20px;
  font-weight: bold;
}
.user_projects {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.user_project {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #ccc;
  padding-inline: 6px;
  padding-block: 6px;
}
.user_project_title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;
}
.user_project_title > .title {
  display: flex;
  flex-direction: column;
  width: calc(50% - 6px);
}
.project_services {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.service_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-inline: 6px;
  padding-block: 6px;
  border: 1px solid #ccc;
}
.service_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}
.service_actions > button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  &:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
}
.confirm {
  position: absolute;
  top: 25%;
  left: 0%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  left: 5%;
  gap: 12px;
  padding-inline: 6px;
  padding-block: 6px;
  box-shadow: 0 0 10px gray;
}
.confirm_title {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 6px;
  font-size: 18px;
}
.confirm_title > p {
  font-weight: bold;
}
.confirm_body {
  width: 100%;
  font-style: 18px;
}
.confirm_footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}
.confirm_footer > button {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_layout {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-inline: 6px;
  align-items: center;
  padding-block: 6px;
  text-align: center;
}

.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  gap: 6px;
  width: 250px;
  height: 150px;
}
.card > img {
  width: 50px;
}
.admin_layout > button {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  font-size: 20px;
  align-self: end;
}
.scanqr_container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scan_form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.scan_form > input {
  width: 100%;
  height: 60px;
  padding-inline: 12px;
  font-size: 20px;
  &:focus {
    border: 1px solid #000;
  }
}
