@media (max-width: 375px) {
  .auth_page {
    align-items: center;
  }
  .auth_form {
    width: 100%;
    gap: 12px;
    padding: 6px;
  }
  .auth_form > p {
    font-size: 18px;
    width: 100%;
    background-color: #fff;
    color: #1677ff;
  }
  .auth_form > input {
    height: 60px;
    padding-inline: 6px;
    font-size: 18px;
  }
  .auth_form > button {
    height: 60px;
    padding-inline: 6px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
  }
}
